{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [["./plugin/index.js", { "constants": "./example/constants" }]]
}
